<ng-container *ngIf="checkStoresCapacity(); else nothing">
  <mat-grid-list cols="3" rowHeight="250" *ngIf="stores.length > 0; else nothing">
    <mat-grid-tile *ngFor="let store of stores | slice: 0: 3">
      <nc-store-card [store]="store" *ngIf="withEmpty || store.capacity > 0"></nc-store-card>
    </mat-grid-tile>
  </mat-grid-list>
</ng-container>

<ng-template #nothing>
  <p>Pas de panier disponible pour cette catégorie.</p>
</ng-template>
