<mat-toolbar color="primary">
  <span>ng-tgtg</span>
  <span class="navbar-spacer"></span>
  <button mat-icon-button class="help-icon" aria-label="Aide en ligne">
    <mat-icon>help</mat-icon>
  </button>
</mat-toolbar>
<div class="content">
  <main class="mat-typography">
    <router-outlet></router-outlet>
  </main>
</div>
